.box{
    border: 1px solid black;
}
.top {
    display:flex;
    width: 100%;
}
#box1 {
    width: 25%;
    height: 75px;
    border: 1px solid black;
}
#box2 {
    width: 75%;
    height: 75px;
    border: 1px solid black;
}
.bigbottombox {
    width: 100%;
    height:
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.column{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:large;
} 
#box3{

}
