.top {
    display: flex;
    width: 100%;
}
#box1 {
    width: 25%;
    height: 75px;
    border: 1px solid black;
}
#box2 {
    width: 75%;
    height: 75px;
    border: 1px solid black;
}
.bigbottombox {
    width: 100%;
    height: 500px;
    border: 1px solid black;  
}
.column{
    display: flex;
    flex-direction: column;
}